<template>
  <v-card>
    <v-card-text>
      <h2>Change the language</h2>
      <v-row class="mt-5">
        <v-col cols="2">
          <v-select
            dense
            outlined
            v-model="curLanguage"
            :items="arLanguages"
            :label="$t('app.language.label', {})"
            @change="langChanged()"
          ></v-select>
        </v-col>
      </v-row>

      <!-- silly way to add a separator :) -->
      <br /><br /><v-divider /><br /><br />

      <h2>Some Translations</h2>
      <p class="caption font-weight-bold">Coming from translation files in src/locales folder...</p>
      <v-row class="mt-5">
        <v-col cols="2">Translated Players Singular :</v-col>
        <v-col cols="10"
          ><span class="font-weight-bold"> {{ $t('players.entity.single', {}) }}</span></v-col
        >
      </v-row>

      <v-row>
        <v-col cols="2">Translated Teams Plural :</v-col>
        <v-col cols="10">
          <span class="font-weight-bold"> {{ $t('teams.entity.plural', {}) }} </span></v-col
        >
      </v-row>

      <v-row>
        <v-col cols="2">Team Info... :</v-col>
        <v-col cols="10">
          <!-- example of translation with parameters... -->
          <!-- See also teams.js in the locales folder... -->
          <span class="font-weight-bold">{{ $t('teams.form.info', { name: 'New York Yankees', nrOfPlayers: 23 }) }} </span>
        </v-col>
      </v-row>

      <!-- silly way to add a separator :) -->
      <br /><br /><v-divider /><br /><br />

      <h2 class="mt-5">Form Example</h2>
      <p class="caption font-weight-bold">Change the language, and keep an eye on the errors...</p>
      <ValidationObserver ref="form">
        <v-row class="mt-5">
          <v-col cols="2">
            <!-- name... required minimum 3 and maximum 5 chars -->
            <!-- even the counter field toggles from black to red... -->
            <validationProvider v-slot="{ errors }" name="players.fields.name.label" rules="required|min:3|max:5">
              <v-text-field
                counter
                outlined
                v-model="name"
                :error-messages="errors"
                :label="$t('players.fields.name.label', {})"
              ></v-text-field>
            </validationProvider>
          </v-col>

          <!-- email... required and has to be valid -->
          <v-col cols="2">
            <validationProvider v-slot="{ errors }" name="players.fields.email.label" rules="required|email">
              <v-text-field outlined v-model="email" :error-messages="errors" :label="$t('players.fields.email.label', {})"></v-text-field>
            </validationProvider>
          </v-col>
        </v-row>
      </ValidationObserver>

      <!-- silly way to add a separator :) -->
      <br /><br /><v-divider /><br /><br />

      <h2 class="mt-5">Vuetify Table Example</h2>
      <p class="caption font-weight-bold">
        Change the language, and keep an eye on the column headers AND the 'rows per page' (bottom right)
      </p>
      <v-row>
        <v-col cols="12">
          <v-data-table dense :headers="headers" :items="dtaPlayers" item-key="name" class="elevation-1"></v-data-table>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'HelloI18n',

  computed: {
    headers() {
      return [
        {
          text: this.$t('players.fields.name.label'),
          align: 'start',
          sortable: false,
          value: 'name',
        },
        { text: this.$t('players.fields.nickname.label'), value: 'nickname' },
        { text: this.$t('players.fields.email.label'), value: 'email' },
        { text: this.$t('players.fields.weight.label'), value: 'weight' },
        { text: this.$t('players.fields.length.label'), value: 'length' },
      ];
    },
  }, // End of computed

  components: {}, // End of components

  data: () => ({
    arLanguages: ['en', 'nl'],
    curLanguage: process.env.VUE_APP_I18N_LOCALE,
    name: 'a',
    email: 'blabla',

    dtaPlayers: [],
  }), // End of data

  methods: {
    async langChanged() {
      this.$i18n.locale = this.curLanguage;
      this.$refs.form.validate();
    },
  }, // End of methods

  // ---------- Start Hooks ---------------
  async mounted() {
    this.$i18n.locale = this.curLanguage;
  },
  // ---------- End Hooks ---------------
};
</script>
